@model IEnumerable<AspApp_VenteVetements.Models.Vetement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vêtements</h2>


@using (Html.BeginForm("Index", "Vetements", FormMethod.Get))
{
    //the following are search option





    @Html.TextBox("search")


    <input type="submit" name="submit" value="&#x1F50E" class="btn btn-default" />
    <br />


    @Html.RadioButton("option", "marque") <text> Marque </text>
    @Html.RadioButton("option", "couleur") <text> Couleur </text>
    @Html.RadioButton("option", "taille") <text> Taille </text>



    <br />
    <br />
}




<p>
    <br />
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.couleur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taille)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.couleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taille)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>


